.baseBlockCntnr .thumbs{
    display: none !important;
  }

.cust_carousel .carousel.carousel-slider .control-arrow{
  height: 50px;
  margin: auto;
}
.cust_carousel .carousel-status{
  display: none;
}

.slideImage{  
  height: 600px;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}